docs
build
coverage
config
test
script
.DS_Store
*.swp
npm-debug.log
dist
.vscode
package-lock.json
yarn.lock
.cachetest
.travis.yml
.babelrc
.jest.js
.stylelintrc
.eslintrc
.editorconfig
.gitignore
docs
node_modules
static
test
.postcssrc.js
index.html